.occupation {
  padding-top: 0;
}

.occupation__list {
  display: flex;
  margin-right: -30px;
}
.occupation__item {
  margin-right: 30px;
}
.occupation-box {
  position: relative;
}
.occupation-box__text {
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;

  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);

  color: var(--white-text-color);
}
